{% extends "base.html" %}{% load static %} {% block extracss %}<link
  rel="stylesheet"
  href="{% static 'css/style.css' %}"
/>{% endblock %}{% block content %}
<div class="about">
  <h1>О РЕСТОРАНЕ MOLDIR</h1>
  <p>
    MOLDIR- современный ресторан с дизайнерским интерьером, основным источником
    вдохновения для которого стала природа. Непоколебимая приверженность сервису
    и гостеприимству, совершенство вкуса и ингредиенты высочайшего качества –
    наши основные принципы. В меню представлены блюда с учетом современных
    кулинарных концепций, а также расширенный рыбный ассортимент и морепродукты.
    Мы используем только экологически чистые продукты - дары морей, рек и лесов,
    приготовленные с любовью и страстью к своему делу.
  </p>
  <img src="{% static 'img/about.webp' %}" alt="" class="img-about" />
  <p>
    Уникальной особенностью и сердцем ресторана является единственная в городе
    дровяная печь. Печь, построенная по особой технологии, способствует
    достижению совершенного, насыщенного вкуса и дарит ощущение теплоты и
    волшебства.
  </p>
</div>

<div class="about">
  <h1>ИНТЕРЬЕР</h1>
  <p>
    В интерьере ресторана использованы современные решения в сочетании с
    дизайнерской мебелью. Многофактурность ресторана MOLDIR отражена в
    интерьерах: элементы с множеством необычных деталей построено на сочетании
    художественных и технологических приемов, материалов и фактур. Это столы из
    дерева, микрофлора лесов, помогающая дышать полной грудью и чувствовать себя
    свободно. А пространство организованно для удобства гостей : и большим и
    шумным компаниям, и парам, которые хотят уединиться. Освещение и интерьер
    делают MOLDIR желанным местом для всевозможных встреч, корпоративов,
    банкетов, дней рождений.
  </p>
  <img src="{% static 'img/inter.webp' %}" alt="" class="img-about2" />
  <img src="{% static 'img/inter2.webp' %}" alt="" class="img-about2" />
</div>

<div class="about">
  <h1>О ШЕФ-ПОВАРЕ</h1>
  <p>Czn Burak шеф-повар ресторана MOLDIR</p>
  <img src="{% static 'img/burak.jpg' %}" alt="" class="img-about2" />
</div>

{% endblock %}
