{% extends "base.html" %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}" />
{% endblock %}
{% block content %}

<div class="sidebar">
  <ul>
    <li class="{% if not selected %}selected{% endif %}">
      <a href="{% url 'posts_sort' %}">Все категории</a>
    </li>
    {% for c in categ %}
    <li class="{% if c.pk == selected.pk %}selected{% endif %}">
      <a href="{% url 'show_category' c.pk %}">{{ c.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="content">
  <div class="div2">
    <p class="p">
       {% if post.photo %}
       <img src="{{ post.photo.url }}" alt="" style="width: 300px; height: 290px; border-radius: 10px;">
       {% else %}
       <h1>no photo</h1>
       {% endif %}
      {{ post.content }}
    </p>
  </div>
</div>

{% endblock %}
